@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 30 33% 23%;
    --foreground: 45 61% 95%;
    --card: 30 33% 28%;
    --card-foreground: 45 61% 95%;
    --popover: 30 33% 28%;
    --popover-foreground: 45 61% 95%;
    --primary: 39 56% 42%;
    --primary-foreground: 40 80% 98%;
    --secondary: 30 33% 33%;
    --secondary-foreground: 45 61% 95%;
    --muted: 30 33% 38%;
    --muted-foreground: 45 30% 75%;
    --accent: 39 56% 52%;
    --accent-foreground: 40 80% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 33% 38%;
    --input: 30 33% 38%;
    --ring: 39 56% 52%;
    --chart-1: 39 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 39 56% 42%;
    --primary-foreground: 40 80% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 39 56% 52%;
    --accent-foreground: 40 80% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 39 56% 52%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
